.background {
  background: url('../assets/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  padding:0;
  margin:0;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-picture {
  width:400px;
  height:300px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background:rgba(227,162,11,0.2);
  -webkit-box-shadow: #B3B3B3 5px 5px 5px;
  -moz-box-shadow: #B3B3B3 5px 5px 5px;
  box-shadow: #B3B3B3 5px 5px 5px;
}


.my-profile {
  width:335px;
  height:335px;
  border-radius:50%;
  overflow:hidden;
}


.gt {
  display: inline-block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url(../assets/gt.svg);
  background-size: 24px 24px;
}

.icon-color {
    color: black;
}

.profilio {
  background-color: #48B8F2;
}

.project {
  margin: 0, auto;
  left: 50%;
  top: 50%;
}

img {
  top: 50px:;
  width: 300;
  height: 480;
}
